<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">BC CGMonitor</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="../help/">Help</a>
        </li>
        <li>
          <a href="http://news.bootswatch.com">Blog</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li><a tabindex="-1" href="./bootstrap.min.css">bootstrap.min.css</a></li>
            <li><a tabindex="-1" href="./bootstrap.css">bootstrap.css</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="./variables.less">variables.less</a></li>
            <li><a tabindex="-1" href="./bootswatch.less">bootswatch.less</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
        <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
      </ul>

    </div>
  </div>
</div>


<div class="container">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-6">
        <h1>BC CGMonitor</h1>
        <p class="lead">Monitoring your miners. Plz mine doge.</p>
      </div>
    </div>
  </div>

  <!-- Navbar
  ================================================== -->
  <div class="bs-docs-section clearfix">
    <div class="row">
      <div class="col-lg-12" id="devices-container">

      </div>
    </div>
  </div>